<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!--==================== FAVICON ====================-->
        <link rel="icon" href="assets/img/tp.jpg">
    
        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    
        <!--==================== SWIPER CSS ====================-->
        <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    
        <!--==================== CSS ====================-->
        <link rel="stylesheet" href="assets/css/styles.css">
    
        <!----------------- github calender css ----------->
        <link rel="stylesheet" href="./assets/css/github_states.css" />
    
    
        <title>Mayank Raj</title>
    </head>
<body>
      
      <!--==================== GITHUB STATES ====================-->

      <section class="about section container" id="github">
        <h2 class="section__title">Github contributions in the last year</h2>
        <div class="Github-calendar ">
            <!-- Loading stuff -->
            07-Mayankraj.
        </div>
    </section>

    <!--==================== Github actitvities ====================-->

    <section class="portfolio section" id="githubstates">
        <h2 class="section__title">GitHub Activities</h2>

        <div class="portfolio__container container swiper-container">
            <div class="swiper-wrapper github-images">

                <img class="portfolio__content grid swiper-slide"
                    src="https://github-readme-streak-stats.herokuapp.com?user=07-Mayankraj&theme=github-dark&hide_border=true&date_format=j%20M%5B%20Y%5D" />

                    
                    <img class="portfolio__content grid swiper-slide"
                    src="https://github-readme-stats.vercel.app/api/top-langs?username=07-Mayankraj&show_icons=true&locale=en&layout=compact&theme=github_dark&hide_border=true"
                    alt="ovi" />
                    
                    <img class="portfolio__content grid swiper-slide"
                        src="https://github-readme-stats.vercel.app/api?username=07-Mayankraj&show_icons=true&locale=en&theme=github_dark&hide_border=true"
                        alt="ovi" />

                <img class="portfolio__content grid swiper-slide"
                    src="https://github-profile-summary-cards.vercel.app/api/cards/profile-details?username=07-Mayankraj&theme=github_dark" />

            </div>

            <!-- Add Arrows -->
            <div class="swiper-button-next">
                <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
            </div>
            <div class="swiper-button-prev">
                <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
            </div>

            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <br /><br />
</body>

</html>

<script src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"></script>
<script>GitHubCalendar(".Github-calendar", "07-Mayankraj", { responsive: true });</script>

<!--==================== SWIPER JS ====================-->
<script src="assets/js/swiper-bundle.min.js"></script>

<!--==================== MAIN JS ====================-->
<script src="assets/js/main.js"></script>