 <!-- ================= SERVICES ====================  -->
            <br /><br />
            <section class="services section" id="services">
                <h2 class="section__title">What I Like To Do and Learn</h2>
                <span class="section__subtitle">Work & Hobbies</span>

                <div class="services__container container grid">
                     <div class="services__content">
                         <div>
                             <i class="uil uil-web-grid services__icon"></i>
                             <h3 class="services__title">Data Science & Machine Learning</h3>
                         </div>

                         <span class="button button--flex button--small button--link services__button">
                             View More
                             <i class="uil uil-arrow-right button__icon"></i>
                         </span>

                         <div class="services__modal">
                             <div class="services__modal-content">
                                 <h4 class="services__modal-title">Data Science & Machine Learning</h4>
                                 <i class="uil uil-times services__modal-close"></i>
                                 <ul class="services__modal-services grid">
                                    <li class="services__modal-service">
                                        <i class="uil uil-check-circle services__modal-icon"></i>
                                        <p>Do exploratory data analysis</p>
                                    </li>

                                    <li class="services__modal-service">
                                        <i class="uil uil-check-circle services__modal-icon"></i>
                                        <p>Design and develop prediction systems for tabular data</p>
                                    </li>

                                    <li class="services__modal-service">
                                        <i class="uil uil-check-circle services__modal-icon"></i>
                                        <p>Learn and develop computer vision systems for any kind of task</p>
                                    </li>

                                    <li class="services__modal-service">
                                        <i class="uil uil-check-circle services__modal-icon"></i>
                                        <p>Learn and develop natural language processing systems for any kind of task</p>
                                    </li>

                                    <li class="services__modal-service">
                                        <i class="uil uil-check-circle services__modal-icon"></i>
                                        <p>Break machine learning models using adversarial attack and data poison</p>
                                    </li>
                                 </ul>
                             </div>
                         </div>
                     </div>

                      <div class="services__content">
                        <div>
                            <i class="uil uil-arrow services__icon"></i>
                            <h3 class="services__title">Machine Learning Engineering & MLOps</h3>
                        </div>

                        <span class="button button--flex button--small button--link services__button">
                            View More
                            <i class="uil uil-arrow-right button__icon"></i>
                        </span>

                        <div class="services__modal">
                            <div class="services__modal-content">
                                <h4 class="services__modal-title">MLOps</h4>
                                <i class="uil uil-times services__modal-close"></i>

                                <ul class="services__modal-services grid">
                                   <li class="services__modal-service">
                                       <i class="uil uil-check-circle services__modal-icon"></i>
                                       <p>Design and develop fully automated ML pipelines</p>
                                   </li>

                                   <li class="services__modal-service">
                                       <i class="uil uil-check-circle services__modal-icon"></i>
                                       <p>Investigate and evaluate MLOps tools</p>
                                   </li>
                                   <li class="services__modal-service">
                                       <i class="uil uil-check-circle services__modal-icon"></i>
                                       <p>Learn about MLOps practices such as experiment tracking, automation and versioning.</p>
                                   </li>

                                   <li class="services__modal-service">
                                        <i class="uil uil-check-circle services__modal-icon"></i>
                                        <p>Model deployment on-prem or cloud</p>
                                   </li>

                                   <li class="services__modal-service">
                                        <i class="uil uil-check-circle services__modal-icon"></i>
                                        <p>Design and develop personal MLOps tools for learning</p>
                                   </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                     <div class="services__content">
                        <div>
                            <i class="uil uil-pen services__icon"></i>
                            <h3 class="services__title">Data Engineering</h3>
                        </div>

                        <span class="button button--flex button--small button--link services__button">
                            View More
                            <i class="uil uil-arrow-right button__icon"></i>
                        </span>
                        
                        
                        <div class="services__modal">
                            <div class="services__modal-content">
                                <h4 class="services__modal-title">Ui/Ux <br> Designer</h4>
                                <i class="uil uil-times services__modal-close"></i>

                                <ul class="services__modal-services grid">
                                   <li class="services__modal-service">
                                       <i class="uil uil-check-circle services__modal-icon"></i>
                                       <p>I develop the user interface</p>
                                   </li>

                                   <li class="services__modal-service">
                                       <i class="uil uil-check-circle services__modal-icon"></i>
                                       <p>I develop the user interface</p>
                                   </li>

                                   <li class="services__modal-service">
                                       <i class="uil uil-check-circle services__modal-icon"></i>
                                       <p>I develop the user interface</p>
                                   </li>

                                   <li class="services__modal-service">
                                       <i class="uil uil-check-circle services__modal-icon"></i>
                                       <p>I develop the user interface</p>
                                   </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </section>